@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: #000000;
}

:root {
    --background: #ffffff;
    --foreground: #000000;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "ss01", "ss02", "cv01", "cv11";
    -webkit-font-smoothing: antialiased;
}

* {
    transition: none !important;
}

@media print {
    button,
    .no-print,
    footer p:last-child {
        display: none !important;
    }

    body {
        background: white !important;
        color: black !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    canvas, svg {
        page-break-inside: avoid;
        max-width: 150px !important;
        margin: 0 auto !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}