@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: #000000;
}

:root {
    --background: #ffffff;
    --foreground: #000000;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "ss01", "ss02", "cv01", "cv11";
    -webkit-font-smoothing: antialiased;
}

* {
    transition: none !important;
}